<h1>Restaurant</h1>



<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.address %></h2>
<h2><%= @restaurant.phone_number %></h2>
<h2><%= @restaurant.category %></h2>

<% @restaurant.reviews.each do |review|  %>
  <p><%= review.content %></p>
  <p><%= review.rating %></p>
<% end %>




<h4><%= link_to "New Review DEPRECATED", new_restaurant_review_path(@restaurant), class: "btn btn-success" %></h4>


<h2>Nueva Revisión para Restaurante <%= @restaurant.name %></h2>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "Agregue nueva revisión", class:"btn btn-danger" %>
<% end %>
